{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="col-md-4">
    <form action="#" method="POST" role="form">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Prefix</label>
            <div class="col-sm-10">
                {{form.prefix(class_="form-control", placeholder="192.168.5.0/24")}}
                <button type="submit" class="btn btn-primary btn-lg">Lookup!</button>
            </div>
        </div>
              {{ form.csrf_token }}
    </form>
  </div>
  <div class="col-md-8" style="text-align:center;">
    <h4>{{result}}<h4>
  </div>
</div>

{% endblock %}
